section.reserv
                div.reserv__image
                    img(src="../img/reservation/reservation.jpg", alt="Картинка")
                    div.reserv__block
                        div.reserv__block-text
                            div.reserv__block-item reservation
                            h3.reserv__block-title Book Your Table
                        .reserv__block-form
                            form(action="#").form__body
                                div.form__name
                                    input(type="text" name="name" placeholder="Name" required).form__input
                                    input(type="email" name="email" placeholder="Email" required).form__input
                                div.form__person
                                    input(type="text" name="text" placeholder="Persons" required).form__input
                                    input(type="text" name="text" placeholder="Timing" required).form__input
                                    input(type="text" name="text" placeholder="Date" required).form__input
                                div.form__button
                                    a(href="#").form__btn Book A Table
footer.footer
    div.footer__body.container
        div.top-menu
            div.contact
                div.top-menu__text #TheTastEat
                div.menu__social-footer
                    a(href="#")
                        img(src="../img/menu/insta.svg", alt="Инста")
                    a(href="#")
                        img(src="../img/menu/facebook.svg", alt="Фейсбук")
                    a(href="#")
                        img(src="../img/menu/twitter.svg", alt="Твитер")
                    a(href="#")
                        img(src="../img/menu/pinterest.svg", alt="Пинтерест")
            div.top-menu__logo
                img(src="../img/menu/Logo.png", alt="Лого")
        p.menu__text-footer Join our mailing list for updates, <br> Get news & offers events.
        div.footer__info
            div.footer__contact-info
                div.footer__contact-title Contact
                p.footer__contact-address 5 Rue Dalou, 75015 Paris
                div.tel-email
                    a(href="tel:+123456789").footer__contact-tel +123 456 789
                    a(href="#").footer__contact-email josefin@mail.com

            
            div.footer__hours-info
                div.footer__hours-title Working Hours
                p.footer__hours-days-1 Mon – Sat: 7.00am – 6.00pm
                p.footer__hours-days-2 Sun: 8.00am – 6.00pm
        p.footer__copy © Copyright - TastEat | Designed by





