section.great-services
    div.great-services__body.container
        div.great-services__block-info
            div.great-services__block-info_item What we offer
            h3.great-services__block-info_title Our Great Services
            p.great-services__block-info_text The atmosphere set the stage. It’s about more than just a dining room away from your home. food takes the spotlight as guests.
        div.great-services__block
            .great-services__block-column
                div.great-services__block-first
                    .great-services__block-image
                        img(src="../img/great-services/great-services-1.png", alt="Календарь")
                    h6.great-services__block-text Opened 24/7
            .great-services__block-column
                div.great-services__block-first
                    .great-services__block-image
                        img(src="../img/great-services/great-services-2.png", alt="Календарь")
                    h6.great-services__block-text Special Menus
            .great-services__block-column
                div.great-services__block-first
                    .great-services__block-image
                        img(src="../img/great-services/great-services-3.png", alt="Календарь")
                    h6.great-services__block-text Home Delivery