header.header
    div.menu.container
        div.top-menu
            div.contact
                div.top-menu__telephone Call - 123 456 789
                div.top-menu__email E-mail - josefin@mail.com
            div.top-menu__logo
                img(src="../img/menu/Logo.png", alt="Лого")
        div.lower-menu
            input(type="checkbox" id="menu-icon" name="menu-icon").menu-icon
            label(for="menu-icon")
            nav.nav
                ul.menu__item
                    li
                        a(href="index.html") Home
                    li
                        a(href="about.html") About Us
                    li
                        a(href="menu.html") Our Menu
                    li
                        a(href="delivery.html") Shipping and payment
            div.menu__social
                a(href="#")
                    img(src="../img/menu/insta.svg", alt="Инста")
                a(href="#")
                    img(src="../img/menu/facebook.svg", alt="Фейсбук")
                a(href="#")
                    img(src="../img/menu/twitter.svg", alt="Твитер")
                a(href="#")
                    img(src="../img/menu/pinterest.svg", alt="Пинтерест")
            div.cart__burger
                div.basket
                    a(href="#").header__cart
                        img(src="../img/menu/basket.svg", alt="Корзина")
                        div.cart-min
